# .gitignore

# Ignore Terraform .tfstate files
*.tfstate
*.tfstate.*

# Ignore Terraform .terraform directories and all subdirectories
.terraform/**
.terraform_*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform provider plugins
terraform-provider-*

terraform.tfvars
osx.tfvars